
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection{
    background: #282533;
    color: #fff;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    color: #282533;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-weight: 700;
    text-align: center;
    font-size: 4em;
    padding: 5%;
    margin: 0;
    padding-top: 2%;
}

h3{
    font-weight: 600;
    font-size: 1.6em;
}

p{
    font-weight: 100;
    font-size: 1.3em;
}

section{
    padding: 2% 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 100%;
}

/* Navigation */

#navigation{
    display: flex;
    flex-direction: row;
    height: 8vh;
    position: fixed;
    width: 100%;
    padding: 1% 10% 6px;
    justify-content: space-between;
    background: #ffffff94;
    backdrop-filter: blur(8px);
    align-items: center;
    z-index: 1000;
}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.navLinks li a{
    text-decoration: none;
    color: #282533;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
}

#navigation .logo{
    width: 50px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
    transition: 0.4s ease;
}

/* Title */
#home{
    padding-top: 4%;
}

#home p{
    line-height: 2;
}

.titleImg{
    padding: 3% 0 5%;
}

.welcomeImg{
    height: 38vh;
}

/* Contact */
#contact{
    height: 60vh;
}
.contactBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: space-around;
}

/* Footer */
#footer{
    height: 60vh;
    background-color: #282533;
    color: #fff;
}

#footer form{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#footer .right, #footer .left{
    display: flex;
    flex-direction: column;
}

#footer .left{
    align-items: flex-start;
}

#footer .right{
    align-items: flex-end;
    justify-content: space-between;
}

.wrapper .socialButton{
    height: 50px;
    width: 50px;
    display: flex;
    margin: 0 15px;
    border-radius: 30px;
    float: left;
    overflow: hidden;
    background-color: white;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 3px 7px 2px rgba(0, 0, 0, 0.574);
}

.wrapper i{
    font-size: 2em;
}   

.wrapper a{
    color: #282533;
    text-decoration: none;
}

.wrapper .socialButton:hover{
    transform: translateY(-10px);
    color: #DA3955;
}


.credits{
    background-color: #282533;
    color: rgba(255, 255, 255, 0.768);
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}

.credits p{
    font-size: 12px;
}

.credits a{
    color: #ffffff94;
}
.credits a:hover{
    color: #DA3955;
}
/* Reusable */

.button {
    border: none;
    background-color: #DA3955;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 42px;
    padding: 8px 30px;
    transition: 0.3s cubic-bezier(0.5, 2.5, 0.75, 0.12);
}

.imgCard{
    text-align: center;
    padding: 1.5% 4%;
    width: 25%;
}

.imgCard img{
    margin-bottom: 6%;
}

.cardContainer{
    display: flex;
    padding: 10px 30px;
    margin-bottom: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 2px #282533;
}

.spaceApart{
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flexCol{
    flex-direction: column;
}

.flexDown{
    align-items: flex-end;
    padding-top: 2%;
}

.rightImgContainer{
    text-align: right;
}

.bottomBorder{
    border-bottom: #282533 1px solid;
}

.hidden{
    opacity: 0.3;
}

.hiddenUp{
    transform: translateX(20%);
}
.hiddenDown{
    transform: translateX(-20%);
}
.show{
    transition: all 2s ease;
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 800px) {
    section{
        height: fit-content;
    }
    body, html{
        overflow-x: hidden;
        max-width: 100%;
        text-align: center;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 1.2em;
    }

    p{
        font-size: 1em;
    }

    .show{
        transition: all 1s ease;
    }
    .spaceApart{
        align-items: center;
    }
    .button{
        margin-bottom: 14%;
        margin-top: 8px;
    }
    #home{
        padding-top: 20%;
    }

    #home p{
        line-height: 1.6;
    }

    #navigation{
        backdrop-filter: none;
        background-color: #fff;
        position: fixed;
    }

    #contact{
        height: max-content;
    }

    .contactBox{
        align-items: center;
    }
    #footer{
        height: max-content;
        align-items: center;
    }

    #footer .left{
        align-items: center;
    }

    #footer .right{
        align-items: center;
    }
    .navLinks {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffffff94;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.8s ease;
        justify-content: space-evenly;
    }
    .burger {
        display: block;
    }
    .navigationActive {
        transform: translate(0);
    }
    .navLinks li {
        opacity: 0%;
    }

    .imgCard{
        width: 50%;
        padding: 10px;
    }

    .cardContainer{
        margin: 0;
        padding: 0;
    }

    .wrapper .socialButton{
        height: 35px;
        width: 35px;
        margin: 0 8px;
    }

    .wrapper i{
        font-size: 1.5em;
    }
}

.stuck {
    overflow: hidden;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);

}